# WQD7005 - Data Mining - 2018/2019 Semester 2
## Assignment 1 - Acquisition of Data from KLSE

**Team Members:**
    1. WQD180015 Ahmad Nazrin Zainal Abidin
    2. WQD180018 Faizal Samiron
    3. WQD180031 Zulkanain Hasan
    4. WQD180042 Muhammad Aiman Khalid

This assignment should not only have learned in theory, but also have experience predictive analyzing and prescriptive analyzing data with the main objective of solving real-world problems. There are three key skills needed to succeed in data science, which we refer to as creating, connecting, and computing.

In [1]:
# get current working directory
import os
os.getcwd()

'C:\\Users\\NaTiN\\Desktop\\DM - assignment 1\\FINALIZED'

In [2]:
# load necessary modules
import numpy as np
import pandas as pd
import pandas_datareader.data as web

In [4]:
# define stocks data download start date and end date
startDate = '2017-12-01'
endDate = '2018-01-01'

# define stocks code for KLSE Main Market. Active counter only.
stocks_query = pd.read_csv('klse-main-market-stocks-code.csv', index_col=[0])

In [5]:
# read stocks data from Yahoo Finance
stocks = web.DataReader(stocks_query, data_source='yahoo')

In [6]:
# view head stocks data
stocks.head()

Attributes    High                                                            \
Symbols    0002.KL 0008.KL  0021.KL  0029.KL 0037.KL 0041.KL 0043.KL 0049.KL
Date
2010-01-04   0.675   0.370  0.28667  0.10783   0.170   0.530   0.090   0.115
2010-01-05   0.675   0.345  0.31000  0.12581   0.180   0.550   0.100   0.115
2010-01-06   0.665   0.365  0.27840  0.12131   0.180   0.545   0.095   0.140
2010-01-07   0.975   0.370  0.30333  0.11682   0.180   0.545   0.090   0.080
2010-01-08   0.640   0.360  0.28160  0.12131   0.175   0.545   0.090   0.125

Attributes                     ...    Adj Close                              \
Symbols    0051.KL  0054.KL    ...      9814.KL   9822.KL   9865.KL 9873.KL
Date                           ...
2010-01-04   0.110  0.08667    ...     0.216026  1.783029  0.984837   0.590
2010-01-05   0.110  0.08667    ...     0.220347  1.783029  0.984837   0.590
2010-01-06   0.105  0.08667    ...     0.220347  1.791726  0.992471   0.605
2010-01-07   0.115  0.08667    ...     0.220347  1.791726  0.984837   0.610
2010-01-08   0.105  0.08667    ...     0.224667  1.783029  0.992471   0.605

Attributes
Symbols      9881.KL  9938.KL 9946.KL 9954.KL 9962.KL   9997.KL
Date
2010-01-04  0.460122  0.09140  0.1600   0.280   0.200  0.234677
2010-01-05  0.469512  0.11363  0.1650   0.310   0.215  0.234677
2010-01-06  0.464817  0.11610  0.1625   0.270   0.230  0.229686
2010-01-07  0.483598  0.10128  0.1650   0.260   0.235  0.284610
2010-01-08  0.478902  0.11363  0.1625   0.265   0.230  0.229686

[5 rows x 4668 columns]

In [7]:
# view tail stocks data
stocks.tail()

Attributes    High                                                          \
Symbols    0002.KL 0008.KL 0021.KL 0029.KL 0037.KL 0041.KL 0043.KL 0049.KL
Date
2019-03-01     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
2019-03-04     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
2019-03-05     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
2019-03-06     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
2019-03-07    1.75   0.455     1.7    0.05    0.22    0.23    0.08    0.44

Attributes                   ...   Adj Close                                  \
Symbols    0051.KL 0054.KL   ...     9814.KL 9822.KL 9865.KL 9873.KL 9881.KL
Date                         ...
2019-03-01     NaN     NaN   ...         NaN     NaN     NaN     NaN     NaN
2019-03-04     NaN     NaN   ...         NaN     NaN     NaN     NaN     NaN
2019-03-05     NaN     NaN   ...         NaN     NaN     NaN     NaN     NaN
2019-03-06     NaN     NaN   ...         NaN     NaN     NaN     NaN     NaN
2019-03-07    0.21   0.135   ...         NaN    8.14    2.67    0.59    0.27

Attributes
Symbols    9938.KL 9946.KL 9954.KL 9962.KL 9997.KL
Date
2019-03-01     NaN     NaN     NaN     NaN     NaN
2019-03-04     NaN     NaN     NaN     NaN     NaN
2019-03-05     NaN     NaN     NaN     NaN     NaN
2019-03-06     NaN     NaN     NaN     NaN     NaN
2019-03-07    0.18    0.42    0.18    0.28   0.405

[5 rows x 4668 columns]

In [8]:
type(stocks)

pandas.core.frame.DataFrame

In [9]:
stocks.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2081 entries, 2010-01-04 to 2019-03-07
Columns: 4668 entries, (High, 0002.KL) to (Adj Close, 9997.KL)
dtypes: float64(4668)
memory usage: 74.1 MB

In [10]:
# save stocks data to csv format for further data preprocessing
stocks.to_csv('klse-main-market-stock-data.csv')